<%= form_for current_user, url: profile_path(@profile), method: :patch do |f| %>

<% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@profile.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<p>
  <%= f.label "Required Fields*" %><br>
</p>

<p>
  <%= f.label "First Name *" %><br>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label "Last Name *"%><br>
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.label "Email" %><br>
  <%= f.text_field :email %>
</p>

<p>
  <%= f.label "About Me" %><br>
  <%= f.text_area :blurb %>
</p>

<p>
  <%= f.label "My Hobbies" %><br>
  <%= f.text_area :hobbies %>
</p>

<p>
  <%= f.label "My Projects" %><br>
  <%= f.text_area :projects %>
</p>

<p>
  <%= f.label "Preferred Method of Contact" %><br>
  <%= f.text_area :contact %>
</p>

<p>
  <%= f.label "Check the box to Make Your Profile Public:" %>
  <%= f.check_box :public  %>
</p>

<p>
  <%= f.submit "Update" %>
</p>

<% end %>
